verbose 3

# High voltage boards are configured through a set of variables with names
# beginning with "hv_" followed by the board number (consequential), "_", and
# the name of the variable, e.g., "hv_0_vme".
#
# Individual channel settings are configured through a set of variables with
# names beginning with "hv_" followed by the board number, "_ch_", and the
# channel number, e.g., "hv_0_ch_0" sets the voltage of channel 0.

# Board connection is described by two parameters: the number of the USB
# connection to the VME bridge, and the VME base address of the board
# (hexadecimal). The USB connection number is 0 by default. Only the most
# significant 16 bits of the VME address should be provided (this is the number
# set by the rotary switches on the board).
#
# USB connection number
# hv_0_usb 0

# VME base address >> 16
# hv_0_vme 3214
# hv_1_vme 3215

# Set board 0 channel 0 voltage to 1000 V
# hv_0_ch_0 1000


hv_0_vme  1001
hv_1_vme  1002
hv_2_vme  1003
hv_3_vme  1004
hv_4_vme  1005
hv_5_vme  1006
hv_6_vme  1007
hv_7_vme  1008
hv_8_vme  1009
hv_9_vme  100A
hv_10_vme 100B
hv_11_vme 100C
hv_12_vme 100D
hv_13_vme 100E
hv_14_vme 100F
hv_15_vme 1010

#hv_0_usb  1
#hv_1_usb  1
#hv_2_usb  1
#hv_3_usb  1
#hv_4_usb  1
#hv_5_usb  1
#hv_6_usb  1
#hv_7_usb  1
#hv_8_usb  1
#hv_9_usb  1
#hv_10_usb 1
#hv_11_usb 1
#hv_12_usb 1
#hv_13_usb 1
#hv_14_usb 1
#hv_15_usb 1
